@import '../../../styles/config';

.layoutvideo{
  background: rgba(0, 0, 0, 0.6) !important;
  margin: 0 !important;
}

.playerwrapper{
  @extend .layoutvideo;
  position: relative;
  width: 100%;

  @media (max-width: $small-and-down) {
    // styles for small screens and down

  }
  @media (min-width: $medium-and-up) {
    // styles for medium screens and larger

  }
  @media (max-width: $medium-and-down) {
    // styles for medium screens and down

  }
  @media (min-width: $large-and-up) {
    // styles for large screens and up

  }
  @media (min-width: $extra-large-and-up) {
    // styles for extra large screens and up
    height: 540px;
  }

}




