.button-ele{
  color: #FFFFFF !important;
  border: none !important;
  outline: none !important;
  background-image: linear-gradient(to right,#FF8A00, #FFC000 ) !important;
  border-radius: 100px !important;
  width: 100% !important;
  height: 2.5rem !important;
  &:hover{
    cursor: pointer !important;
  }
}

.active{
  
}