.footer {
    width: 100%;
    height: auto;

    .footerTop {
        display: flex;
        justify-content: space-between;
        background: rgb(39, 36, 36);
        padding-bottom: 2.5rem;

        .footerLeft {
            padding-left: 9rem;
            padding-top: 2.5rem;

            .icons {
                margin-top: 6rem;
                display: flex;
                justify-content: space-between;
            }
        }

        .footerRight {
            padding-top: 2.5rem;
            color: #fff;
            display: flex;
            margin-right: 4rem;

            article {
                ul {
                    list-style-type: none;
                }

                h3 {
                    padding-left: 2.3rem;
                }
            }
        }
    }

    .footerBottom {
        background: black;
        height: 40px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #fff;
        padding: 0 3rem;

        .policy {
            display: flex;
            align-items: center;
            p {
                margin: 0 1rem;
            }
        }
    }
}