@import "../../styles/common.scss";

.create-btn-container{
  display: flex;
  justify-content: flex-end;
  button{
    display: flex;
    align-items: center;
    color: #007791;
    font-weight: bold;
    background-color: #FFFFFF;
    padding: 5px 10px ;
    border-radius: 10px;
    border: 1px solid #007791;
    &:hover{
      cursor: pointer;
      color: #FFFFFF;
      background-color: #007791;
    }
    .icon{
      margin-right: 10px;
    }
  }
}

.create-form-container{
  max-width: 100%;
  width: 500px;
  height: auto;
  background-color: #FFFFFF;
  padding: 0px 10px;
  border-radius: 5px;
}

.form-group{
  padding: 15px;
  form{
    input{
      width: 100%;
      line-height: 2;
      border-radius: 5px;
      border: 1px solid #979797;
      outline: none;
      padding: 5px 10px;
    }

    .form__footer{
      display: flex;
      justify-content: flex-end;
      margin-top: 10px;
      button{
        @include submitting-modal-btn;
      }
    }
  }
}

.close-modal-icon{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  @include close-modal-icon;
}

.border--warning{
  @include warningBorder;
}

.message--warning{
  @include warningMessage;
}