.noneData{
  height: 174px !important;
}

.cateHeader{
  font-weight: 700;
  color:#FF8A00;
  line-height: 175.78%;

  i{
    //color: black !important;
    margin-left: 5px !important;
  }
}

.cardImage{
  width: 24% !important;
  margin-left: 24px;
  padding-top: 15px;

  p{
    margin: 0 !important;
    //font-weight: bold;
  }

  .progress{
    margin-bottom: 0 !important;
  }
}

.cardContent{
  padding-top: 0 !important;
}