
.row-course-container{
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
  border-bottom: solid 1px #979797;
}

.row-course__price{
  color: #000000;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  .has-discount{
    text-decoration: line-through;
    color: #979797;
  }
}

.row-course__right-content{
  display: flex;
  align-items: flex-start;
  .row-course__img{
    img{
      width: 250px;
      height: auto;
      object-fit: cover;
      border-radius: 15px;
      &:hover{
        cursor: pointer;
      }
    }
  }
  .row-course__info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 10px 10px;
    .text-info{
      display: flex;
      flex-direction: column;
      max-width: 30vw;
      .text-info__title{
        background-image: -webkit-linear-gradient(45deg,#FF9F00, #FF8A00);
        font-weight: bold;
        font-size: 16px;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        &:hover{
          cursor: pointer;
          text-decoration-line: underline;
          text-decoration-color: #FF9F00;
        }
      }
      .text-info__short-description{
        color: #000000;
        font-size: 12px;
        font-weight: 500;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1; /* number of lines to show */
        -webkit-box-orient: vertical;
        margin-bottom: 5px;
      }
      .text-info__author{
        color: #979797;
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 5px;
      }
    }

    .course-rating{
      display: flex;
      align-items: center;
      margin-bottom: 5px;
      .vertical-line{
        border: 1px solid #979797;
        margin: 0px 5px;
        height: 15px;
      }
      .school-icon{
        color: #2F2F2F;
        margin-right: 5px;
      }
      .amount-user{
        color: #979797;
        font-size: 14px;
        font-weight: bold;
        margin-right: 5px;
      }
      .amount-rating{
        font-weight: bold;
        margin-right: 5px;
      }
    }

    .best-seller{
      border: none;
      outline: none;
      color: #FFFFFF;
      font-weight: bold;
      background-image: linear-gradient(to right, #FF9F00, #FF8A00);
      padding: 5px 10px;
      border-radius: 10px;
      font-size: 12px;
      width: 6vw;
      text-align: center;
    }
  }
}