
.account__container{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
}

.container__left-side{
  width: 50%;
  background-color: #FFF7DF;
  position: relative;
  img.bottom-img{
   width: 100%;
   object-position: bottom;
  }
  img.top-img{
    width: 20%;
  }

  .container-form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
    form{
      width: 400px;
      max-width: 100%;
      .form-header{
        text-align: center;
        margin-bottom: 50px;
        img{
          max-width: 100%;
        }
        span{
          color: #5C5C5C;
          font-size: 14px;
        }
      }
      .small-text{
        font-size: 12px;
        color: #5C5C5C;
        display: flex;
        justify-content: flex-end;
        a{color: #FFC000;}
      }
    }
  }
}

.container__right-side{
  width: 50%;
  background-color: #C4C4C4;
}