
.account__container{
  display: flex;
  width: 100%;
}

.container__left-side{
  width: 50%;
  height: 100vh;
  background-color: #FFF7DF;
}

.container__right-side{
  width: 50%;
  height: 100vh;
  background-color: #C4C4C4;
}