@import '../../styles/config';

.title {
    font-size: 30px;
    color: $primaryColor;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 30px;
}

.catList {
    display: flex;
}

.categoriCard {
    background: $primaryBg;
    width: 250px;
    min-width: 100px;
    margin-left: 3em;
}

.categoriCard:hover{
    cursor: pointer;
}

.categoriCard:first-child {
    margin-left: 0;
}

.content {
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
}