.noneData{
  height: 174px !important;
}

.cateHeader{
  font-weight: 700;
  color:#FF8A00;
  line-height: 175.78%;

  i{
    //color: black !important;
    margin-left: 5px !important;
  }
}

.cardContent{
  padding-top: 10px !important;
  padding-right: 10px !important;

  i{
    font-size: 20px !important;
  }
}