
.input-ele{
  border: solid 1px #cacaca !important;
  outline: none !important;
  background-color: #FFFFFF !important;
  border-radius: 100px !important;
  width: 100% !important;
  height: 50px !important;
  padding: 0 25px !important;
  &:focus{
    border: none !important;
  }
}

.span--warning{
  display: inline-block !important;
  margin: 5px 10px !important;
  color: red !important;
  font-size: 13px !important;
}