@import '../../styles/config';

.hero {
    width: 100vw;
    height: 80vh;
    background: $primaryBg;
    position: relative;

    .heroTitle {
      position: absolute;
      top: 100px;
      left: 140px;
      color: #fff;
      z-index: 10;

      .title {
        z-index: 11;
        position: absolute;
        top: 0;
        left: 0;

        h2 {
          font-size: 44px;
          white-space: nowrap;
        }

        button {
          background: #fff;
          color: $primaryColor;
          width: 160px;
          height: 56px;
          margin-top: 80px;
          margin-left: 30px;
        }
      }
    }

    .girlBg {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 10;
    }
  }